* {
    font-size: 1rem;
    box-sizing: border-box;
}

body {
    margin: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(#047ae9), to(#6aaae6));
    background: -moz-linear-gradient(bottom, #047ae9, #6aaae6);
}

header {
    position: fixed;
    display: inline-block;
    width: 100%;
    background: #0460aa;
    border-bottom: 3px solid #f1670b;
    height: 40px;
    box-sizing: content-box;
}

header a {
    text-decoration: none;
    text-align: center;
    font-style: oblique;
}

hr {
    margin: 3px 0px;
}

img,
footer {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.menu {
    display: inline-block;
    vertical-align: baseline;
    padding: 9px;
}

p {
    margin: 3px;
}

footer {
    background-color: inherit;
    border-bottom: 5px double #f1670b;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 7px;
}

h2 {
    margin: 3px;
}

.postos {
    display: inline-block;
    vertical-align: baseline;
    padding: 3px 5px;
}

.postos a {
    text-decoration: none;
    color: #d8d8d8;
    background-color: #4faddb;
    border-radius: 5px 5px 0px 0px;
    border-bottom: 2px solid;
    border-color: #000000;
    padding: 2px;
}

.menu ul {
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline-block;
}

.menu a,
.login a {
    background-color: #4faddb;
    color: #d8d8d8;
    border-radius: 5px 5px 0px 0px;
    border-bottom: 4px solid #000000;
    padding: 3px;
}

.login a {
    border-bottom: 4px solid #f1670b;
    border-right: 4px solid #f1670b;
    border-radius: 5px;
}

.login {
    float: right;
    padding: 5px;
    margin: 5px;
}

.login a {
    text-decoration: none;
    color: #d8d8d8;
}

.logo {
    display: inline-block;
    color: #d8d8d8;
    text-align: center;
    vertical-align: middle;
    font-style: oblique;
    padding-left: 3px;
    border-bottom: 3px double #f1670b;
    border-bottom-right-radius: 3px;
}

.content {
    margin: 0 5px;
    padding: 0 5px;
    display: none;
    overflow: hidden;
    background-color: #4faddb;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.paddingTop {
    padding-top: 3px;
}

.corpoEscala {
    padding-top: 45px;
}

.card {
    border-radius: 5px;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    padding: 6px;
    margin: 9px 0px;
    width: inherit;
    transition: all 0.3s ease-out;
    background-color: #D79BE1;
    border-left: 3px solid #f1670b;
    border-bottom: 1px solid #f1670b;
}

.card p {
    color: #000;
    margin: 3px;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vers {
    float: right;
    font-weight: bold;
}

.ico {
    max-width: 54px;
    max-height: 54px;
    border-radius: 40%;
}

.card:hover {
    transform: translateY(-5px);
    cursor: pointer;
}

.menu a:hover,
.login a:hover,
.postos a:hover {
    background-color: #6fb5d8;
}

.login a:active {
    border: 0;
}

#btnEscPro {
    display: none;
    background-color: #f1670b;
}

#contentPosto {
    display: none;
    padding-bottom: 2px;
    border-bottom: 2px groove #f1670b;
    margin-bottom: 3px;
}

#escAtu {
    display: block;
    animation: 500ms linear 500ms piscar;
}

#escPro {
    display: none;
    animation: 500ms linear 500ms piscar;
}

@keyframes piscar {
    from {
        opacity: 0.7;
    }

    to {
        opacity: 1.0;
    }
}

@media (max-width: 587px) {
    .text-sm {
        font-size: 0.8rem;
    }

    .ico {
        max-width: 34px;
        max-height: 34px;
    }

    div img,
    body footer {
        width: 99%;
    }
}

@media (max-width: 490px) {
    .text-sm {
        font-size: 0.5rem;
    }

    .ico {
        max-width: 24px;
        max-height: 24px;
    }
}

@media (max-width: 370px) {
    .text-sm {
        font-size: 0.3rem;
    }

    .ico {
        max-width: 20px;
        max-height: 20px;
    }
}